@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);


*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin: 50px;
    font-family: 'Indie Flower', handwriting;
    background-color: #A9C9FF;
    background-image: linear-gradient(45deg, #A9C9FF 0%, #FFBBEC 100%);
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
}

/*Menu*/ 
.menu{
    margin-bottom: 40px;
}
.ul-top{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    text-align: center;
    padding: 0;
}
.ul-top li{
    border-radius: 0.3rem;
    color:white;
    background-color: #ff47cb ;
    padding: 10px 0;
}
a{
    text-decoration: none;
    font-size: 17px;
}
.ul-top li:hover{
    background-color: red;
    transition: 0.5s;
    transform: scale(1.1);
}
#selector{
    background-color: yellowgreen;
}



/*main*/
.main{
    display: grid;
    grid-template-areas: 
    'hero hero add1'
    'hero hero add2';
    gap: 20px;
}
.foto-container{
    color: white;
    grid-area: hero;
    min-height: 500px;
    background: url(./img/kafe2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.foto-container p,h1{
    margin-left: 2rem;
    background-color: #ff47cb;
    padding: 10px;
    font-size: xx-large
    
}
.add1{
    grid-area: add1;
}
.add2{
    grid-area: add2;
}
.ads{
    display: flex;
    background-color: #ff47cb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.price{
    margin: 0;
    text-align: center;
    font-size: 50px;
}
.ads p{
    text-align: center;
}





/*Features*/
.features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    text-align: center;
    margin-top: 40px;
}
.features span{
    font-size: 50px;

}
.future{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    padding: 10px;
}




/*About*/
.about{
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) ;
}
.about img{
    margin: auto;
    height: 300px;
}
h3{
    font-size: 2rem;
}


.btn-grad {background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%)}
.btn-grad {
   margin: auto;
   padding: 1rem 3rem;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 0.5rem;
   display: inline-block;
   border: none;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.footer{
    margin: 100px 0;
    text-align: center;
}



 /* MEDIA QUERY*/
@media (max-width: 700px){
    .ul-top{
        grid-template-columns: 1fr;
    }

    .main{
    grid-template-areas: 
    'hero hero' 
    'add1 add2';
    }


    .features{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 600px){
    .ul-top{
        grid-template-columns: 1fr;
    }

    .main{
    grid-template-areas: 
    'hero' 
    'hero' 
    'add1' 
    'add2';
    }


    .features{
        grid-template-columns:1fr;
    }
    .about{
        grid-template-columns:1fr ;
    }
    .about img{
        max-height: 5rem;
    }

}